# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env
.env.*
!.env.example

# Databases
*.db
*.sqlite3
*.rdb

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Docker
.docker/

# Alembic
db/migrations/versions/*.pyc

# Jupyter
notebooks/.ipynb_checkpoints/
*.ipynb_checkpoints

# Logs
*.log